<div class="home-landing">
  <div class="home-left">
    <h1 class="home-title">🛒 Welcome to your <span>MonoprixSmart</span> Space</h1>

    <div class="objectif-grid">


      <a class="objectif-card" routerLink="/dashboards">
        <span class="emoji">📊</span>
        Anomaly Detection
      </a>

      <a class="objectif-card" routerLink="/anomalies">
        <span class="emoji">🔍</span>
        Détection Anomalies
      </a>

      <a class="objectif-card" routerLink="/predict-revenue">
        <span class="emoji">💰</span>
        Income prediction
      </a>

      <a class="objectif-card" routerLink="/predict-delay">
        <span class="emoji">⏰</span>
      Late Payment
      </a>

      <a class="objectif-card" routerLink="/litige">
        <span class="emoji">🗂️</span>
        Cluster Litiges
      </a>

      <!-- ✅ Forecast Errors button -->
      <a class="objectif-card" routerLink="/forecast-errors">
        <span class="emoji">📈</span>
        Invoices Erreurs
      </a>
    </div>
  </div>

  <div class="home-right">
    <img src="assets/analytic-laptop.png" alt="Analytics Graphic" />
  </div>
</div>
